<div class="course-card" *ngIf="course; else noImage" 
  [ngClass]="cardClasses()"
  [ngStyle]="cardStyles()"
  >
    <div class="course-title" >
      {{index}}  {{  course.description   }}
    </div>
    <div class="course-category">
      @switch (course.category) {
        @case ("BEGINNER") {
          <div class="category">Beginner</div>
          break;
        }
        @case ("I") {
          <div class="category">Intermediate</div>
          break;
        }
        @case ("ADVANCED") {
          <div class="category">Advanced</div>
          break;
        }
        @default {
          <span>Unknown</span>
        }

      }
    </div>

    @if(course.iconUrl){
      <img width="300" alt="Angular Logo" [src]="course.iconUrl">
    }
    @else {
      <h1>No Image</h1>
    } 

    <div class="course-description">
        {{ course.longDescription}}
    </div>

    <button (click)="onCourseViewed()">View Course</button>

</div>
<ng-template #noImage>
  <div class="course-card">
    <div class="course-title">
      No Course Available
    </div>
  </div>